
PACMAN_CUBERITE/output.mkv
*.mp4
PACMAN_CUBERITE/KUT.TXT
PACMAN_CUBERITE/bin/PACMAN_DEBUG.exe
EARTH/HOLLAND_LAT_LONG_CENTER.TXT
EARTH/DOWNLOAD_REPORT.TXT
EARTH/DOWNLOADED.TXT
EARTH/downloaded_files/new/UTRECHT/OBJECT_ARRAY_ALL.NBT
EARTH/downloaded_files/obj/list.txt
EARTH/DUMP_CENTER_HOLLAND.BAT
EARTH/DUMP_CENTER_HOLLAND_ROTTERDAM_OLD_SORT_FASTER.BAT
EARTH/DUMP_CENTER_UTRECHT.bat
EARTH/DUMP_HOLLAND_LARGER_BY_LIST.BAT
EARTH/DUMP_VERROT.BAT
EARTH/FILES.TXT
EARTH/HOLLAND_LAT_LONG_CENTER.rar
EARTH/HOLLAND_LAT_LONG_CENTER.TXT.ORIGINALE
EARTH/HOLLAND_LIST_LARGER.TXT
EARTH/HOLLAND_LIST_LARGER_SORTED.TXT
EARTH/in.dat
EARTH/MOVE_OCTANT_TO_KEEP.BAT
EARTH/MOVE_OCTANTS_HOLLAND.BAT
EARTH/NEW_OCTANT.TXT
EARTH/NEW_OCTANTS.TXT
EARTH/OBJECT_ARRAY.OCTANTS_ONLY.TXT
EARTH/OBJECT_ARRAY2.TXT
EARTH/OCTANTS_SORTED2.TXT
EARTH/OCTANTS_SORTED3.TXT
EARTH/OCTANTS_SORTED_BORDER.TXT
EARTH/OCTANTS_SORTED_CIRCLE_DONE.TXT
EARTH/OPNIEUW.BAT
EARTH/OPNIEUW.TXT
geo/NL_full.txt
PACMAN_CUBERITE/not_complete.txt
PACMAN_CUBERITE/OBJECT_ARRAY - Copy (2).RES
PACMAN_CUBERITE/OBJECT_ARRAY.NBT
PACMAN_CUBERITE/OBJECT_ARRAY.NEW
PACMAN_CUBERITE/OBJECT_ARRAY.OCTANTS
PACMAN_CUBERITE/OBJECT_ARRAY.OCTANTS_ONLY.LST
PACMAN_CUBERITE/OBJECT_ARRAY.OCTANTS_ONLY.TXT
PACMAN_CUBERITE/OBJECT_ARRAY.RES
PACMAN_CUBERITE/OBJECT_ARRAY.TXT
PACMAN_CUBERITE/OBJECT_ARRAY_ALL.NBT
PACMAN_CUBERITE/octant_not_found.txt
PACMAN_CUBERITE/OCTANTS_LOADED.TXT
PACMAN_CUBERITE/OCTANTS_SORTED.TXT
PACMAN_CUBERITE/OCTANTS_SORTED_LARGER.TXT
PACMAN_CUBERITE/READY.TXT
PACMAN_CUBERITE/report.txt
PACMAN_CUBERITE/result.txt
EARTH/DUMP_HOLLAND_LARGER_BY_LIST.BAT
EARTH/HOLLAND_LAT_LONG_CENTER.rar
EARTH/HOLLAND_LIST_LARGER.TXT
EARTH/NEW_OCTANT.TXT
EARTH/NEW_OCTANTS.TXT
EARTH/OBJECT_ARRAY2.TXT
EARTH/OCTANTS_SORTED2.TXT
EARTH/OCTANTS_SORTED3.TXT
EARTH/OCTANTS_SORTED_BORDER.TXT
EARTH/OCTANTS_SORTED_CIRCLE_DONE.TXT
geo/NL_full.txt
PACMAN_CUBERITE/HOLLAND_LATLON.LST
PACMAN_CUBERITE/OBJECT_ARRAY - Copy (2).RES
PACMAN_CUBERITE/OBJECT_ARRAY.NBT
PACMAN_CUBERITE/OBJECT_ARRAY.NEW
PACMAN_CUBERITE/OBJECT_ARRAY.OCTANTS
PACMAN_CUBERITE/OBJECT_ARRAY.RES
PACMAN_CUBERITE/OBJECT_ARRAY.TXT
PACMAN_CUBERITE/OBJECT_ARRAY_ALL.NBT
PACMAN_CUBERITE/octant_not_found.txt
PACMAN_CUBERITE/OCTANTS_LOADED.TXT
PACMAN_CUBERITE/OCTANTS_SORTED_LARGER.TXT
EARTH/DUMP_HOLLAND_LARGER_BY_LIST.BAT
EARTH/HOLLAND_LAT_LONG_CENTER.rar
EARTH/HOLLAND_LIST_LARGER.TXT
EARTH/NEW_OCTANT.TXT
EARTH/NEW_OCTANTS.TXT
EARTH/OBJECT_ARRAY2.TXT
EARTH/OCTANTS_SORTED2.TXT
EARTH/OCTANTS_SORTED3.TXT
EARTH/OCTANTS_SORTED_BORDER.TXT
EARTH/OCTANTS_SORTED_CIRCLE_DONE.TXT
geo/NL_full.txt
PACMAN_CUBERITE/OBJECT_ARRAY - Copy (2).RES
PACMAN_CUBERITE/OBJECT_ARRAY.NBT
PACMAN_CUBERITE/OBJECT_ARRAY.NEW
PACMAN_CUBERITE/OBJECT_ARRAY.OCTANTS
PACMAN_CUBERITE/OBJECT_ARRAY.RES
PACMAN_CUBERITE/OBJECT_ARRAY.TXT
PACMAN_CUBERITE/OBJECT_ARRAY_ALL.NBT
PACMAN_CUBERITE/octant_not_found.txt
PACMAN_CUBERITE/OCTANTS_LOADED.TXT
PACMAN_CUBERITE/OCTANTS_SORTED_LARGER.TXT
PACMAN_CUBERITE/OBJECT_ARRAY.OCTANTS
PACMAN_CUBERITE/OBJECT_ARRAY.OCTANTS
PACMAN_CUBERITE/OBJECT_ARRAY.RES
EARTH/HOLLAND_LAT_LONG_CENTER.rar
EARTH/NEW_OCTANT.TXT
EARTH/NEW_OCTANT.TXT
EARTH/NEW_OCTANT.TXT
EARTH/NEW_OCTANT.TXT
